<title> Drinks and Delight</title>
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-header">
    </div>
    <div class="collapse navbar-collapse" id="navbarNav">
      

      
        
  <a class="navbar-brand" href="#"> <img src="/assets/dd2.PNG" width="140" height="36" alt=""></a>
      
      

       
      
      
      <a class="btn btn-secondary" href="#">Home <span class="sr-only">(current)</span></a>
      
      
    
      
   
      
      
        
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Product Order</a>
      
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a routerLinkActive="active" routerLink="SearchFrom" class="dropdown-item" >DisplayProductOrder</a><br>
          <a routerLinkActive="active" routerLink="ProductList" class="dropdown-item" >DisplayTotalOrders</a>
          <a routerLinkActive="active" routerLink="Distributor" class="dropdown-item" >DisplayDistributorDetails</a>

        </div>
        
      
    
   



      <!--  <li> <a routerLinkActive="active" routerLink="SearchFrom">SearchFrom</a></li> 
      <li><a routerLinkActive="active" routerLink="ProductList">ProductList</a></li> -->
     
      
  </div>
  
  </div>
  
</nav>

<router-outlet></router-outlet>